<li>
  <div class="row">
    <div class="<%= user.id == message.user_id ? 'message-sent ml-auto' : 'message-received' %>">
      <div class="row">
        <div class="chat_name"><%= message.user.firstname %></div>
        <div class="chat_time ml-auto mr-3"><%= message.created_at.strftime('%R') %></div>
      </div>
      <hr>
      <div style="font-size: 15px; margin=0px;"><%= message.body %></div>
    </div>
  </div>
</li>
