<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active" style="background-image: url('/assets/B.jpeg')">
      <div class="carousel-caption d-none d-md-block">
        <h3>We are creating ideal network between people and servicer.</h3>
      </div>
    </div>

    <div class="carousel-item" style="background-image: url('/assets/J.jpeg')">
      <div class="carousel-caption d-none d-md-block">
        <h3>We helps to your grow your business.</h3>
      </div>
    </div>

    <div class="carousel-item" style="background-image: url('/assets/E.jpeg')">
      <div class="carousel-caption d-none d-md-block">
        <h3>We are creating opportunity for everyone.</h3>
      </div>
    </div>
  </div>

  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container">
  <h2>What We Are Doing...</h2><br>
  <div class="row">
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <p><img class="card-img-top" src="/assets/H.jpeg" alt=""></p>
        <div class="card-body">
          <h4 class="card-title">
            <i>First :</i>
          </h4>
          <p class="card-text">We are making life easy by hepling people to find thier require kind of servicer. </p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <p><img class="card-img-top" src="/assets/G.jpeg" alt=""></p>
        <div class="card-body">
          <h4 class="card-title">
            <i>Second :</i>
          </h4>
          <p class="card-text">We are giving a platform to make and grow up your career.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <p><img class="card-img-top" src="/assets/I.jpeg" alt=""></p>
        <div class="card-body">
          <h4 class="card-title">
            <i>Third :</i> 
          </h4>
          <p class="card-text">The basic of our business is to stay as close as possible to people, understand their behavior, their preferences to improve ourselves.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <h2>Our network :</h2>
      <ul>
        <li>Total Categories : <%= category_count %></li>
        <li>Total service provider : <%= provider_detail_count %></li>
        <li>Customers : <%= user_count %> </li>
      </ul>
      <p>Our aim is a reach to the people and give them an opportunity to grow up in this internet and fast world by helping them to providing a platform. </p>
      <p>We are also providing platform to customers to find required servicer. </p>
    </div>
    <div class="col-lg-6">
      <img class="img-fluid rounded" src="/assets/A.jpeg" alt="">
    </div>
  </div><hr>
  
</div>