<% if @provider_details.present? %>
  <div id="provider-detail">
    <% cache @provider_details do %>
      <% @provider_details.each do |provider_detail| %>
        <% cache provider_detail do %>
          <%= render partial: '/home/provider_detail', locals: { provider_detail: provider_detail } %>
        <% end %>
      <% end %>
    <% end %>  
  <% else %>  
    <div class="d-flex flex-row bd-highlight mb-3 justify-content-center ">
      <div class="p-2 bd-highlight">
        <h2> NO Record Found... </h2>
      </div>
    </div>
  </div>
<% end %>