@import "bootstrap";

// for sign-in page.

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

*, *::before, *::after {
  box-sizing: border-box;
}


// for show.html.erb in users.

.container{
  padding:5%;
}
.img{
  text-align:center;
}
.container .details{
  border-left:3px solid #ded4da;
}
.container .details p{
  font-size:15px;
  font-weight:bold;
}
 