@import "bootstrap";

// for sign-in page.

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

*, *::before, *::after {
  box-sizing: border-box;
}


ul {
  padding-left: 0px;
  list-style: none;
}
.border-panel{
  border: 1px solid black;
  padding: 10px;
  background-color: lightgrey;
}

.messages-list {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

.message-sent {
  position: relative;
  background-color: #D9EDF7;
  border-color: #BCE8F1;
  margin: 5px 20px;
  padding: 10px;
  float: right;
}

.message-received {
  background-color: #F1F0F0;
  border-color: #EEEEEE;
  margin: 5px 20px;
  padding: 10px;
  float: left;
}
// for show.html.erb in users.

.container{
  padding:5%;
}
.img{
  text-align:center;
}
.container .details{
  border-left:3px solid #ded4da;
}
.container .details p{
  font-size:15px;
  font-weight:bold;
}
 
// for provider-details.html.erb partial 

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}