/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

  *= require_tree .
  *= require_self
  *= require jquery-ui
  *= require select2
  *= require select2-bootstrap

 */

 @import "bootstrap";

 // for sign-in page.
 .form-signin {
   width: 100%;
   max-width: 330px;
   padding: 15px;
   margin: 0 auto;
 }
 
 *, *::before, *::after {
   box-sizing: border-box;
 }
 
 
 ul {
   padding-left: 0px;
   list-style: none;
 }
 .border-panel{
   
   padding: 10px;
   background: #282537;
   background-image: -webkit-radial-gradient(top, circle cover, #3c3b52 0%, #252233 80%);
   a{
     color: whitesmoke;
   }
   input[type=submit]{
     color: black;
    background: rgb(105,155,200);
    background: -webkit-radial-gradient(top left, ellipse cover, rgba(105,155,200,1) 0%,rgba(181,197,216,1) 57%);
   }
   span{
     color: whitesmoke;
   }
   hr{
    margin: 8px !important;
    height: 2px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
   }
   textarea{
    box-shadow:0 0 15px 3px grey;
   }
 }
 
 .messages-list {
  max-height: 450px;
  overflow-y: auto;
  overflow-x: hidden;
  .chat_name, .chat_time{
    font-size: 0.85em;
    margin: 5px 20px;
  }
  hr{
    padding: 0 !important;
    margin: 0 !important;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  }
  ul li .row .message-sent {
    min-width: 250px;
    max-width: 900px;
    border-radius: 13.333333vw;
    position: relative;
    background-color: #D9EDF7;
    border-color: #BCE8F1;
    margin: 5px 20px;
    padding: 5px 25px;
  }
  
  ul li .row .message-received {
    min-width: 250px;
    max-width: 900px;
    border-radius: 13.333333vw;
    background-color: #F1F0F0;
    border-color: #EEEEEE;
    margin: 5px 20px;
    padding: 5px 25px;
  }
 }
 









 //card

 
  .card_side {
    height: 100%;
    transition: all .9s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card_side--back {
      transform: rotateY(270deg); }
      .card_side--back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card_side--front {
    transform: rotateY(-180deg); }
  .card:hover .card_side--back {
    transform: rotateY(0); }
  .card_picture {
    border-bottom-left-radius: 3px;
    border-top-right-radius: 3px; }

    
    .card_heading {
      font-size: 1.8rem;
      font-weight: 300;
      text-transform: uppercase;
      text-align: left;
      color: #fff;
      position: absolute;
      top: 12rem;
      right: 7.0rem;
      width: 75%; }
    .card_heading-span {
      padding: 1rem 1.5rem;
      }
      .card_heading-span--3 {
        background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
    .card_details {
      padding: 1rem 8rem;
      width: 80%;
      margin: 0 auto; }
      
  
  
  @media only screen and (max-width: 56.25em) {
    .card {
      
      border-radius: 4px;
      background-color: #fff;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
      .card_side {
        
        position: relative;
        box-shadow: none; }
        .card_side--back {
          transform: rotateY(0);
           }
      .card:hover .card_side--front {
        transform: rotateY(0); }
      .card_cta {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0);
        width: 100%;
        text-align: center;
        padding: 7rem 4rem 4rem 4rem; } }



 
 




 // for provider-details.html.erb partial 
 
 .card-horizontal {
   display: flex;
   flex: 1 1 auto;
 }
 
 .container{
   padding:2%;
   }
   .img{
   text-align:center;
   }
   .container .details{
   border-left:3px solid #ded4da;
   }
   .container .details p{
   font-size:15px;
   font-weight:bold;
   }
 
   // Notification CSS
 
   .badge {
 
     border-radius: 52%;
     font-size: 12px;
     background: red;
     color: white;
     margin-left: 1px;
   }
 
   .select2-container--bootstrap {
     display: inline-block !important;
   } 

   .search > *{
     margin:0px 8px;
   }

   .inbox-msg {
    position: fixed;
    bottom: -5px;
    right: -18px;
    z-index: 9;
    width: 500px;
    .messages-list {
      max-height: 300px;

      ul li .row .message-sent {
        max-width: 100px;
        border-radius: 20px;
        position: relative;
        background-color: #D9EDF7;
        border-color: #BCE8F1;
        margin: 5px 20px;
        padding: 5px 15px;
      }
      
      ul li .row .message-received {
        max-width: 100px;
        border-radius: 20px;
        background-color: #F1F0F0;
        border-color: #EEEEEE;
        margin: 5px 20px;
        padding: 5px 15px;
      }
    }

  }

  .inbox-page .messages-list {
      max-height: 600px;
      margin: 0px;
    }

  .btn-center{
    border-radius: 10rem;
    margin: 5px auto;
    width: 250px;    
  }

  .vertical_align{
    display:flex;
    justify-content:center;
    align-items:center;
  }