<h1 style="font-family: 'Bangers', cursive; padding:0px 20px; letter-spacing: 2px;">New Category</h1>

<%= render 'form', category: @category %>

<%= link_to 'Back', root_path, class: "btn btn-dark back-btn" %>

