<h1 style="font-family: 'Bangers', cursive; padding:0px 20px;">Add Details</h1>

<%= render 'form', provider_detail: @provider_detail %>

<%= link_to 'Back', root_path, class:"btn btn-secondary back-btn" %>